@{
    ViewData["Title"] = "About Us";
}

<div class="container mt-3">

    <h1 class="display-2 mb-5 text-center">About Us</h1>

    <div class="section container">
        <div class="row">
            <div class="col-5 break-word">
                <h1>Welcome to the Clever School</h1>
                <p>At Clever School, our mission is to foster a nurturing and dynamic learning environment where every student can achieve their fullest potential. Founded in 1991, we have grown from a small kindergarden into a leading institution in Atlantis, committed to excellence in education.</p>
            </div>
            <div class="col-2"></div>
            <div class="col-5"></div>
        </div>
    </div>

    <div class="section container">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-2"></div>
            <div class="col-5 break-word">
                <h1> Our Leadership</h1>
                <p>Our dedicated team, led by Perfect Guy, is passionate about providing a top-tier educational experience. Perfect Guy, with 12.000 years of experience, leads our school with a focus on leadership vision.</p>
            </div>
        </div>
    </div>

    <div class="section container">
        <div class="row">
            <div class="col-5 break-word">
                <h1>Academic Excellence</h1>
                <p>We offer a diverse curriculum tailored to meet the needs of our students, including science of science, rice science and god knows what. Beyond the classroom, students can engage in a variety of extracurricular activities, from sports teams to creative clubs.</p>
            </div>
            <div class="col-2"></div>
            <div class="col-5"></div>
        </div>
    </div>

    <div class="section container">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-2"></div>
            <div class="col-5 break-word">
                <h1>Community Focus</h1>
                <p>We believe in the power of community and encourage active participation from parents and local organizations. Our vibrant school culture is built on respect, collaboration, and a shared commitment to student success.</p>
            </div>
        </div>
    </div>

</div>
