@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="text-center gradient-main-title">
        <h1 class="display-3">Welcome To Clever School Portal</h1>
        <h1 class="display-6">Empowering education, one click at a time.</h1>
    </div>
    <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner mt-5">
            <div class="carousel-item active">
                <img src="~/img/ClassExperiment.jpg" class="d-block w-100 carousel-image" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Special Treatment</h5>
                    <p>Teachers are willing to provide every second of the class.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/GroupWork.jpg" class="d-block w-100 carousel-image" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Group Work Activity</h5>
                    <p>According to researches, group work enhances learning capacity of people.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/SchoolMeeting.jpg" class="d-block w-100 carousel-image" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Parent Meetings Bimonthly</h5>
                    <p>To track the students, you'll get informed by us.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/Graduation.jpg" class="d-block w-100 carousel-image" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Graduation Party</h5>
                    <p>It's time to evolve to continous learner on the path.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>