@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container mt-3 d-flex justify-content-center">
    <div class="card shadow-sm col-lg-8 col-md-6">
        <div class="card-body">
            <div class="text-center">
                <h1>@ViewData["Title"]</h1>
                <hr />
                <h6 class="font-monospace break-word text-center mt-3">Easy! We'll mail you instructions to reset your password. <br />If you don't have access to your email anymore, you can reach us out by phone or email.</h6>
                <form method="post" class="w-100 d-flex justify-content-center align-items-center flex-column">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating my-3 w-50">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-50 btn btn-lg rounded-0 softblue-bgcolor text-white mb-3">
                        <span>Reset Password</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
